.vmodal{}
.vmodal.open .modal-overlay,
.vmodal.open .modal-window{
opacity: 1;
z-index: 1000;
}

.modal-overlay, .modal-window{
    opacity: 0;
    z-index: -1;
}

.title-modal{
    font-family: 'Geometria';
    font-weight: 800;
 }
.modal-overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    background: rgba(197, 213, 230, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
}

.modal-window{
    margin: 0 auto;
    width: 1340px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.modal-close{
    width: 44px;
    color: rgba(46, 63, 105, 0.5);;
    font-weight: 300;
    font-size: 64px;
    margin-left: auto;
    margin-right: 70px;
    cursor: pointer;
}    
.first-title{
    color: #363B5D;
    width: 520px;
    font-size: 64px;
    margin: 50px auto;
}
.item-help{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.image-text{
    display: flex;
    align-items: center;
}
.img-items{
    border: 2px solid #C5D5E6;
    border-radius: 15px;
    padding: 20px;
    height: 80px;
    width: 80px;
}
.title-items{
    padding-left: 20px;
    max-width: 120px;
    color: #363B5D;
    font-size: 18px;
}
.text{
    text-align: start;
    margin-left: 100px;
    max-width: 150px;
    font-family: 'Gilroy';
    font-weight: 300;
    color: #515572;
}

