.vmodal{}
/* CSS властивості для анімації появи модального інформаційного вікна (початок)*/ 
.vmodal.open .modal-overlay,
.vmodal.open .modal-window{
opacity: 1;
z-index: 1000;
}
.vmodal.hide .modal-overlay,
.vmodal.hide .modal-window{
opacity: 1;
z-index: 1000;
}
input{
    outline: none;
    padding: 2px 5px;
}
.vmodal.open .modal-window{
    transform: translateY(-800px);
}
.vmodal.open .modal-overlay{
    background-color: rgba(197, 213, 230, 0);
    backdrop-filter: blur(0px); 
}
.vmodal.open .modal-window{
    transform: translateY(1px);
    overflow: scroll;
}
.vmodal.open .body_main{
    overflow: hidden;
}
.vmodal.open .modal-overlay{
    background-color: rgba(197, 213, 230, .5);
    backdrop-filter: blur(15px); 
}
/* CSS властивості для появи/зникнення модального інформаційного вікна (кінець)*/
.modal-overlay, .modal-window{
    opacity: 0;
    z-index: -1;
}

.title-modal{/*CSS h3*/
    font-family: 'Geometria';
    font-weight: 800;
 }
.modal-overlay{/*CSS оверлея*/
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    background-color: rgba(197, 213, 230, 0);
    backdrop-filter: blur(0px);
    transition:background-color .7s ease-in;
    transition:backdrop-filter .7s ease-in;
    display: flex;
    flex-direction: column;
}

.modal-window{/*CSS вікна*/
    margin: 0 auto;
    width: 1340px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transform: translateY(-800px);
    transition: transform .5s ease-in;
}
.modal-close{/*CSS для хрестика закриття*/
    width: 44px;
    color: rgba(46, 63, 105, 0.5);
    font-weight: 300;
    font-size: 64px;
    margin-left: auto;
    margin-right: 70px;
    cursor: pointer;
}    

.first-title{/*CSS для елементів вікна*/
    color: #363B5D;
    width: 520px;
    font-size: 64px;
    margin: 50px auto;
}
.item-help{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.image-text{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.img-items{
    border: 2px solid #C5D5E6;
    border-radius: 15px;
    padding: 20px;
    height: 80px;
    width: 80px;
}
.title-items{
    padding-left: 20px;
    max-width: 120px;
    color: #363B5D;
    font-size: 18px;
}
.text{
    text-align: start;
    margin-left: 100px;
    max-width: 150px;
    font-family: 'Gilroy';
    font-weight: 300;
    color: #515572;
}
/* style form  **********************************************************************************************************************  */
.title_form{
    font-family: 'Geometria';
    font-size: 64px;
    margin: 0 auto;
    max-width: 570px;
    color: #363B5D;
}
.switch-box{
    font-family: 'Geometria';
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
}
.switch-item{
    font-size: 14px;
    align-items: center;
    font-weight: 300;
    border: 2px solid #363B5D;
    border-radius: 5px;
    color: #363B5D;
    padding: 8px 20px;

}
/*switch start*/
.vmodal.open.switch_on_fiz .fiz{
    background-color: #363B5D;
    color: #FFF;
    margin-right: -6px;
}

.vmodal.open.switch_on_yur  .yur{
    background-color: #363B5D;
    color: #FFF;
    margin-left: -6px;
}

.vmodal.open.switch_on_yur .form__juristische{
    margin-top: 70px;
    margin-bottom: 70px;
    visibility: visible;
    opacity: 1;
}

.vmodal.open.switch_on_fiz .form__juristische{
    margin-top: 0px;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.vmodal.open.switch_on_fiz .form__juristische{
    margin-top: 70px;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
/*switch end*

/*hover info modal-window*/
.items-todo:hover,
.items-finance__help:hover,
.items-material__help:hover,
.items-volontier:hover{
    background-color: #9C5D9A;
}


/*to do btn  on form*/
.todo_box{
    max-width: 1140px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 2px solid #DADADA;
}
.todo_box::before{
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 15px solid #dadada;
    top: -26px;
    left: 65px;
}
.todo_box::after{
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 15px solid #fff;
    top: -23px;
    left: 65px;
}
/*type payment forn border*/
.payment-main{
    height: 270px;
    max-width: 1140px;
    border-radius: 15px;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 2px solid #DADADA;
}
.payment-main::before,
.payment-main::after{
    content: '';
    position: absolute;
}
.payment-main::before{
    border: 10px solid transparent;
    border-bottom: 15px solid #dadada;
    top: -26px;
    left: 335px;
}
.payment-main::after{
    border: 10px solid transparent;
    border-bottom: 15px solid white;
    top: -24px;
    left: 335px;
}

/*material-help-content  form border*/
.material_help-content{
    height: 200px;
    max-width: 1140px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 2px solid #dadada;
}
.material_help-content::after,
.material_help-content::before{
    content: '';
    position: absolute;
}
.material_help-content::before{
    top: -26px;
    right: 475px;
    border: 10px solid transparent;
    border-bottom: 15px solid #dadada;

}
.material_help-content::after{
    border: 10px solid transparent;
    border-bottom: 15px solid white;
    top: -24px;
    right: 475px;
}
/*hide material_help block */
.vmodal.open.switch_on_yur.volontier .material_help-content,
.vmodal.open.switch_on_fiz.volontier .material_help-content,
.vmodal.open.switch_on_yur.finance_help .material_help-content,
.vmodal.open.switch_on_fiz.finance_help .material_help-content,
.vmodal.open.switch_on_fiz.todo .material_help-content,
.vmodal.open.switch_on_yur.todo .material_help-content{
    opacity: 0;
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
}
/*hide todo block */
.vmodal.open.switch_on_yur.volontier .todo_box,
.vmodal.open.switch_on_fiz.volontier .todo_box,
.vmodal.open.switch_on_yur.finance_help .todo_box,
.vmodal.open.switch_on_fiz.finance_help .todo_box,
.vmodal.open.switch_on_fiz.material_help .todo_box,
.vmodal.open.switch_on_yur.material_help .todo_box{
    opacity: 0; visibility: hidden; margin: 0;
    width: 0;
    height: 0;
}
/*hide finance_help block*/
.vmodal.open.switch_on_yur.volontier .payment-main,
.vmodal.open.switch_on_fiz.volontier .payment-main,
.vmodal.open.switch_on_yur.todo .payment-main,
.vmodal.open.switch_on_fiz.todo .payment-main,
.vmodal.open.switch_on_fiz.material_help .payment-main,
.vmodal.open.switch_on_yur.material_help .payment-main{
    opacity: 0; visibility: hidden; margin: 0;
    width: 0;
    height: 0;
}

/*початок стилів input + text*/
.input-box{
    margin-top: 50px;
    border: 0;
    display: flex;
    justify-content: space-evenly;
}

.input_text{
    background-color: rgba(197, 213, 230, .2);
    border-radius: 5px;
    border: 0;
    max-width: 200px;
    min-height: 40px;
    margin-right: 20px;
}
.input_text-long{
    max-width: 355px;
    min-height: 40px;
    background-color: rgba(197, 213, 230, .2);
    border-radius: 5px;
    border: 0;
}
.input-box__label-logo{
    display: flex;
    align-items: center;
}
.text__logotipe{ /*Напис + Логотип*/
    color: #4A90E2;
    margin-left: 50px;
    margin-top: 5px;
}
.label__text{
    font-size: 14px;
    color: #939AA3;
    font-weight: 500;
}
.input-box__short{
    border: 0;
    display: flex;
    justify-content: space-between;
}
.input-box__label{
    display: flex;
    flex-direction: column;
}
.input-box__label--long{
    display: flex;
    flex-direction: column;
}
.form__juristische{
    display: flex;
    justify-content: space-evenly;
}
.footer__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label__text-footer{
    font-weight: 300;
    font-family: 'Gilroy';
    color: #363B5D;
    font-size: 18px;
}
.help__type{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.item-menu_type{
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.menu__type-item{
    align-items: center;
    text-align: center;
}
.menu__type-item-img{
    border: 2px solid #C5D5E6;
    border-radius: 15px;
    padding: 20px;
    height: 80px;
    width: 80px;
}
/*switch type payment start*/
.vmodal.open.switch_on_fiz.todo .todo,
.vmodal.open.switch_on_yur.todo .todo{
    border: 0;
    background-color: #9C5D9A;
    background-image: url(../image/modal-help1white.svg);
    }
.vmodal.open.switch_on_fiz.finance_help .finance_help,
.vmodal.open.switch_on_yur.finance_help .finance_help{
    background-image: url(../image/modal-help2white.svg);
    border: 0;
    background-color: #9C5D9A;
}
.vmodal.open.switch_on_fiz.material_help .material_help,
.vmodal.open.switch_on_yur.material_help .material_help{
    background-image: url(../image/modal-help3white.svg);
    border: 0;
    background-color: #9C5D9A;
}
.vmodal.open.switch_on_fiz.volontier .volontier,
.vmodal.open.switch_on_yur.volontier .volontier{
    background-image: url(../image/modal-help4white.svg);
    border: 0;
    background-color: #9C5D9A;
}

/*start forms button*/
.todo,
.finance_help,
.material_help,
.volontier{
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
}
.todo{
    background-image: url(../image/modal-help1.svg);
}
.material_help{
    background-image: url(../image/modal-help3.svg);
}
.finance_help{
    background-image: url(../image/modal-help2.svg);
}
.volontier{
    background-image: url(../image/modal-help4.svg);
}
.label_item-menu{
    margin-left: 20px;
    max-width: 120px;
    font-weight: 800;
    font-size: 18px;
    color: #363B5D;
}

/*payment boxing*/
.payment-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.payment-table{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.payment-items{
    border-radius: 5px;
    height: 85px;
    width: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #C5D5E6;
}
.label__text-payment{
    color: #fff;
    font-weight: 300;
    font-family: 'Gilroy';
    font-size: 12px;
}

/*switch type cards*/
.vmodal.open.switch_on_yur.volontier.visa .visa-card,
.vmodal.open.switch_on_yur.material_help.visa .visa-card,
.vmodal.open.switch_on_yur.finance_help.visa .visa-card,
.vmodal.open.switch_on_yur.todo.visa .visa-card,

.vmodal.open.switch_on_fiz.volontier.visa .visa-card,
.vmodal.open.switch_on_fiz.material_help.visa .visa-card,
.vmodal.open.switch_on_fiz.finance_help.visa .visa-card,
.vmodal.open.switch_on_fiz.todo.visa .visa-card{
    background-color: #9C5D9A;
}
.vmodal.open.switch_on_yur.volontier.privat .privat-card,
.vmodal.open.switch_on_yur.material_help.privat .privat-card,
.vmodal.open.switch_on_yur.finance_help.privat .privat-card,
.vmodal.open.switch_on_yur.todo.privat .privat-card,

.vmodal.open.switch_on_fiz.volontier.privat .privat-card,
.vmodal.open.switch_on_fiz.material_help.privat .privat-card,
.vmodal.open.switch_on_fiz.finance_help.privat .privat-card,
.vmodal.open.switch_on_fiz.todo.privat .privat-card{
    background-color: #9C5D9A;
}
.vmodal.open.switch_on_yur.volontier.terminal .terminal-card,
.vmodal.open.switch_on_yur.material_help.terminal .terminal-card,
.vmodal.open.switch_on_yur.finance_help.terminal .terminal-card,
.vmodal.open.switch_on_yur.todo.terminal .terminal-card,

.vmodal.open.switch_on_fiz.volontier.terminal .terminal-card,
.vmodal.open.switch_on_fiz.material_help.terminal .terminal-card,
.vmodal.open.switch_on_fiz.finance_help.terminal .terminal-card,
.vmodal.open.switch_on_fiz.todo.terminal .terminal-card{
    background-color: #9C5D9A;
}
.vmodal.open.switch_on_yur.volontier.webMoney .web-card,
.vmodal.open.switch_on_yur.material_help.webMoney .web-card,
.vmodal.open.switch_on_yur.finance_help.webMoney .web-card,
.vmodal.open.switch_on_yur.todo.webMoney .web-card,

.vmodal.open.switch_on_fiz.volontier.webMoney .web-card,
.vmodal.open.switch_on_fiz.material_help.webMoney .web-card,
.vmodal.open.switch_on_fiz.finance_help.webMoney .web-card,
.vmodal.open.switch_on_fiz.todo.webMoney .web-card{
    background-color: #9C5D9A;
}
.vmodal.open.switch_on_yur.volontier.payPal .pay-card,
.vmodal.open.switch_on_yur.material_help.payPal .pay-card,
.vmodal.open.switch_on_yur.finance_help.payPal .pay-card,
.vmodal.open.switch_on_yur.todo.payPal .pay-card,

.vmodal.open.switch_on_fiz.volontier.payPal .pay-card,
.vmodal.open.switch_on_fiz.material_help.payPal .pay-card,
.vmodal.open.switch_on_fiz.finance_help.payPal .pay-card,
.vmodal.open.switch_on_fiz.todo.payPal .pay-card{
    background-color: #9C5D9A;
}
.vmodal.open.switch_on_yur.volontier.bank .bank-card,
.vmodal.open.switch_on_yur.material_help.bank .bank-card,
.vmodal.open.switch_on_yur.finance_help.bank .bank-card,
.vmodal.open.switch_on_yur.todo.bank .bank-card,

.vmodal.open.switch_on_fiz.volontier.bank .bank-card,
.vmodal.open.switch_on_fiz.material_help.bank .bank-card,
.vmodal.open.switch_on_fiz.finance_help.bank .bank-card,
.vmodal.open.switch_on_fiz.todo.bank .bank-card{
    background-color: #9C5D9A;
}

/*car box*/
.card{
    border-radius: 15px;
    background-color: #C5D5E6;
}
.number-text{
    display: flex;
    flex-direction: column;
}
.label__on-card,
.label__text-number__card{
    color: #fff;
}
.label__text-number__card{
   margin-top: 10px;
   margin-left: 10px;
}
.number-card__box{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;

}
.number__card-input{
    border-radius: 5px;
    margin-right: 10px;
    height: 40px;
    width: 74px;
    background-color: #F3F7FA;
    border: 0;
}
.item-number__card:nth-child(4){
    margin-right: 25px;
}
.footer__card{
    display: flex;
    justify-content: space-evenly;
}
.footer__card-item{
    display: flex;
    flex-direction: column;
}
.number__card{
    margin-bottom: 20px;
    width: 130px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #F3F7FA;
}
.button__help{
    min-width: 300px;
    min-height: 60px;
    background: linear-gradient(46.62deg, #E53656 21.87%, #6082D8 124.73%);
    border: 0px;
    color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 18px;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria/Geometria-ExtraBold.eot');
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../fonts/Geometria/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria/Geometria-ExtraBold.woff') format('woff'),
		url('../fonts/Geometria/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
